
/* NavBar Style */

.navStyle a{
    color:rgba(0,0,0,.7);
}

.buton-navBar ul{

list-style-type: none;

}

.buton-navBar a{
    border: 1px solid rgba(0,0,0,.2);
    padding: 1rem 2rem;

}

/*/////////////////////////////////////////*/

/* Slider Style */

.carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
}

.carousel-item .carousel-caption{
    top : 45%
}
.carousel-item .carousel-caption a{
   
 
 padding: 0.5rem;
 border-radius: 5px;
 margin-top: 1rem ;
 display: inline-block;
}

/* ////////////////////////////////////////////*/
/* Our News  */ 
.ourNews
{
    background-color: #F8F9FA;
}
.newsheader
{
    font-size: 2rem ;
    line-height: 1.2;
}
.linecolor
{
    height: 2px;
    background-color: #017BFF;
    width: 5%;
}
.pnews
{
    color: #6c757d;
    line-height: 1.8;
}

/* end of our news */ 

